@import "tailwindcss";
/* @import "tw-animate-css"; */

@layer base {
	@font-face {
		font-family: "Poppins-Regular";
		font-display: swap;
		src: url("/fonts/Poppins-Regular.ttf") format("truetype");
	}
	@font-face {
		font-family: "Poppins-Bold";
		font-display: swap;
		src: url("/fonts/Poppins-Bold.ttf") format("truetype");
	}
	@font-face {
		font-family: "Poppins-ExtraBold";
		font-display: swap;
		src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
	}
	@font-face {
		font-family: "Dana";
		font-display: swap;
		src: url("/fonts/Dana.Regular.woff2") format("woff2");
	}
	@font-face {
		font-family: "Dana Bold";
		font-display: swap;
		src: url("/fonts/Dana-Bold.woff2") format("woff2");
	}
	@font-face {
		font-family: "Anta-Regular";
		font-display: swap;
		src: url("/fonts/Anta-Regular.ttf") format("truetype");
	}
}
@utility container {
	@apply xl:px-27.5 mx-auto;
}
@theme {
	--font-poppins: "Poppins-Regular";
	--font-poppinsBold: "Poppins-Bold";
	--font-dana: "Dana";
	--font-danaBold: "Dana Bold";
	--font-anta: "Anta-Regular";

	--color-primary: #733b17;
	--color-secondary: #d2b08d;

	--breakpoint-4xs: 350px;
	--breakpoint-3xs: 400px;
	--breakpoint-2xs: 450px;
	--breakpoint-xs: 530px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
}
@layer components {
	/* helper */
	.flex-center {
		@apply flex items-center justify-center;
	}
	.dir-rtl {
		direction: rtl;
	}
	.scroll-style {
		@apply border-l-8 border-y-8 border-transparent overflow-scroll overflow-x-hidden;
	}
  .scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
}
.scroll-style::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar {
    width: 9px;
}
#search-drop_down::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #e8e8e8;
    border-radius: 5px;
}
#search-drop_down::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 5px;
}

}
